.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-top-big {
  margin-top: 8rem; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-top-small {
  margin-top: 2rem; }

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes slide-and-reappear {
  0% {
    opacity: 1;
    transform: translateY(0); }
  50% {
    transform: translateY(1rem);
    opacity: 0; }
  75% {
    transform: translateY(-1rem);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-size: 62.5%;
  box-sizing: border-box; }

.heading-primary {
  font-size: 4.8rem;
  font-weight: 300;
  font-family: 'Rubik wet paint', sans-serif;
  text-transform: uppercase;
  width: auto; }
  .heading-primary--red {
    color: #ff0000; }

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: 'Rubik glitch', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000; }
  .heading-secondary:hover {
    animation: slide-and-reappear 0.5s;
    animation-timing-function: cubic-bezier(0, 2.6, 1, -0.25); }
  .heading-secondary--white {
    color: #fff; }
  .heading-secondary--black {
    color: #000; }

.paragraph {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.8; }

.btn__browse:link, .btn__browse:visited {
  font-size: 1.6rem;
  color: #000;
  position: absolute;
  top: 96%;
  left: 50%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 3px solid #000;
  border-radius: 50%;
  text-decoration: none;
  transform: translateX(-50%);
  transition: all 0.5s; }

.btn__browse:hover, .btn__browse:active {
  transform: translateX(-50%) translateY(-0.5rem);
  color: #fff;
  background-color: #000;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.9); }

.about__img-box {
  overflow: hidden;
  height: 95%;
  border-radius: 2rem; }

.about__img {
  width: 100%; }

.header {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  color: #fff;
  height: 95vh;
  position: relative; }
  .header__bar {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center; }
  .header__logo-box {
    margin: 2rem;
    padding: 0.5rem;
    height: 7.5rem;
    display: flex; }
  .header__logo {
    height: 7rem; }
  .header__nav {
    list-style: none;
    display: flex;
    color: #fff;
    margin-right: 1rem;
    font-family: 'Rubik', sans-serif; }
  .header__nav-item:not(:last-child) {
    margin-right: 0.5rem; }
  .header__nav-link:link, .header__nav-link:visited {
    color: #fff;
    text-decoration: none;
    padding: 1rem 0.7rem;
    border-radius: 4px;
    transition: all 0.5s; }
  .header__nav-link:hover, .header__nav-link:active {
    background-color: #ff0000; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34rem;
    animation: move-up 1s 1s ease-in-out backwards;
    backface-visibility: hidden; }

.section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin: 4rem 2rem;
  position: relative; }

.section-skills {
  background-color: #000; }
