@keyframes move-up {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes slide-and-reappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
    opacity: 0;
  }
  75% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
